  #content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
  }
  .div-center{
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parent-contact{
    color: black;
    text-decoration: none;
    text-align: left;
    margin-top: 35px;
    margin-left: 7%;
  }
  .contact{
    color: black;
    text-decoration: none;
    text-align: left;
    margin-top: 2px;
    margin-left: 25%;
  }
  .map{
    margin-bottom: 30px;
    text-align: center;
    margin-top:2px;
  }
  .parent-center{
    color: black;
    text-decoration: none;
    text-align: center;
  }
  .child-center{
    margin:auto;
    width: 50%;
  }
  .nav-center{
    text-align: center;
    margin: auto;
  }
  #logo-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  #main-header-footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    height: 100px;
  }
    #main-header-footer a {
      color: white;
    }
  #logo-header {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
  }
    #logo-header:hover {
      color: blue;
    }
    #logo-header .site-name {
      display: block;
      font-weight: 700;
      font-size: 18px;
    }
    #logo-header .site-desc {
      display: block;
      font-weight: 300;
      font-size: 14px;
      color: rgba(255,255,255,0.8);
    }
    #nav-header{
      float: left;
      padding-top: 20px;
    }
    #header-button{
      float: right;
      padding-right: 10px;
      padding-top: 10px;
      text-decoration: none;
      text-align: right;
      color: white;
    }
    footer{
      background-color: black;
      position: absolute;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 40px;
      color: white;
    }
    #text-footer{
      color: white;
      text-decoration: none;
      margin-left: 8%;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
      ul li {
        margin: 10px;
        margin-top: 20px;
        display: inline-block;
        line-height: 35px;
        border-radius: 40px;
        background: rgba(50,120,150,1);
        height: 35px;
      }
        ul li a {
          display: block;
          padding: 0 10px;
          text-decoration: none;
        }
          ul li a:hover {
            background: rgba(60, 140, 200, 0.5);
            border-radius: 40px;
            line-height: 35px;
            text-decoration: none;
          }
